---
import Layout from "../layouts/Layout.astro";
import { SITE_TITLE } from "../config";
import ProjectCard from "../components/ProjectCard.astro";
import { getCollection } from "astro:content";
const allProjects = await getCollection("projects");
// sort projects by name
allProjects.sort((a, b) => a.data.title.localeCompare(b.data.title));
---

<Layout title={`Projects | ${SITE_TITLE}`}>
  <Fragment slot="main">
    <div
      class="container mx-auto px-4 sm:px-6 lg:px-8 py-8 h-full flex flex-col"
    >
      <ul
        class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-4 md:gap-6 max-w-[2000px] mx-auto"
      >
        {
          allProjects.map((project) => (
            <ProjectCard
              href={`/projects/${project.slug}`}
              title={project.data.title}
              image={project.data.cover}
              date={project.data.date}
              authors={project.data.authors}
              source={project.data.source}
              githubUrl={project.data.githubUrl}
            />
          ))
        }
      </ul>
    </div>
  </Fragment>
</Layout>
