---
import { Image } from "astro:assets";
interface Props {
  title: string;
  href: string;
  image: ImageMetadata;
  date?: string;
  authors?: string;
  source?: string;
}

const {
  href,
  title,
  image,
  date = "",
  authors = "Lavaee",
  source = "",
} = Astro.props;
---

<li
  class="group h-full flex flex-col overflow-hidden bg-[#eff1f5] dark:bg-[#1e1e2e] rounded-lg border border-[#ccd0da] dark:border-[#313244] hover:border-[#fe640b] dark:hover:border-[#f9e2af] transition-colors duration-200"
>
  <a
    href={href}
    class="unset flex flex-col h-full text-[#4c4f69] dark:text-[#cdd6f4] p-2 2xl:p-3"
  >
    <div class="w-full aspect-[16/9]">
      <div
        class="relative w-full h-full bg-[#e6e9ef] dark:bg-[#181825] rounded-md overflow-hidden"
      >
        <Image
          src={image}
          alt={title}
          class="absolute inset-0 w-full h-full object-cover object-top"
        />
      </div>
    </div>
    <div class="p-2 2xl:p-3 flex flex-col gap-1 2xl:gap-2">
      <h2
        class="text-lg 2xl:text-xl font-bold leading-tight m-0 text-[#4c4f69] dark:text-[#cdd6f4]"
      >
        {title}
      </h2>
      <div
        class="flex items-center gap-2 text-xs 2xl:text-sm text-[#6c6f85] dark:text-[#a6adc8]"
      >
        {
          source && (
            <span class="inline-flex items-center bg-[#e6e9ef] dark:bg-[#181825] px-2 py-0.5 rounded-md border border-[#ccd0da] dark:border-[#313244]">
              {source}
            </span>
          )
        }
        {date && <span>{date}</span>}
        {authors && <span>{authors}</span>}
      </div>
    </div>
  </a>
</li>
