---
import { Image } from "astro:assets";
interface Props {
  title: string;
  href: string;
  image: ImageMetadata;
  date?: string;
  authors?: string;
  source?: string;
}

const {
  href,
  title,
  image,
  date = "",
  authors = "Lavaee",
  source = "",
} = Astro.props;
---

<li
  class="group h-full flex flex-col overflow-hidden bg-white dark:bg-[#0e141b] rounded-lg border border-gray-200 dark:border-gray-700 hover:border-orange-500 dark:hover:border-yellow-400 transition-colors duration-200"
>
  <a
    href={href}
    class="unset flex flex-col h-full text-text-heading p-2 2xl:p-3"
  >
    <div class="w-full aspect-[16/9]">
      <div
        class="relative w-full h-full bg-gray-100 dark:bg-[#1a242f] rounded-md overflow-hidden"
      >
        <Image
          src={image}
          alt={title}
          class="absolute inset-0 w-full h-full object-cover object-top"
        />
      </div>
    </div>
    <div class="p-2 2xl:p-3 flex flex-col gap-1 2xl:gap-2">
      <h2
        class="text-lg 2xl:text-xl font-bold leading-tight m-0 text-text-heading"
      >
        {title}
      </h2>
      <div class="flex items-center gap-2 text-xs 2xl:text-sm text-text-muted">
        {
          source && (
            <span class="inline-flex items-center bg-gray-100 dark:bg-[#1a242f] px-2 py-0.5 rounded-md border border-gray-200 dark:border-gray-800">
              {source}
            </span>
          )
        }
        {date && <span>{date}</span>}
        {authors && <span>{authors}</span>}
      </div>
    </div>
  </a>
</li>
