---
// Import the global.css file here so that it is included on
import "../styles/global.css";

import GoogleFont from "./GoogleFont.astro";
import ThemeScript from "./ThemeScript.astro";
import Favicon from "./Favicon.astro";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import { Image, getImage } from "astro:assets";

const { frontmatter } = Astro.props;
---

<!doctype html>
<html class="theme-sleek" lang="en">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content="Blogster" />
    <Favicon />

    <meta name="generator" content={Astro.generator} />
    <title>{`${frontmatter.title} | Projects`}</title>
    <GoogleFont />
    <ThemeScript />
  </head>
  <body class="min-h-screen max-w-[2000px] mx-auto flex flex-col">
    <Navigation />
    <main id="main" class="flex-1">
      <section class="prose max-w-none prose-sleek mx-auto pt-24 sm:pt-28">
        <div class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8">
          <h1 class="font-bold mb-8">{frontmatter.title}</h1>
          <img
            src={getImage(frontmatter.image)}
            alt={frontmatter.title}
            class="w-full"
          />
          <slot />
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
